@import "tailwindcss";
@source "../../.flowbite-react/class-list.json";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

.vertical-text {
  writing-mode: vertical-rl;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
  text-orientation: mixed;
}

.inner-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.teacher-timeline-list-item button {
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.teacher-timeline-list-item button:hover {
  background-color: transparent;
}

.teacher-timeline-list-item button:focus {
  outline: 0;
  box-shadow: none;
}

.selector-container select:focus {
  outline: 0;
  box-shadow: none;
}

@media print {
  .view-container {
    page-break-before: always;
    page-break-inside: avoid;
  }
}
