@import "tailwindcss";
@source "../../.flowbite-react/class-list.json";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

.vertical-text {
  writing-mode: sideways-lr;
  text-orientation: sideways-right;
}

.inner-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
